$linkColor: #52b09f;
$linkColorLight: #74D2C1;


// Header
// ======
$headerBackgroundTop: #10C2E9;
$headerBackgroundBottom: #0DB8DD;

$headerBackgroundMobileMenu: $headerBackgroundTop;
$headerBackgroundBottomMobileMenu: $headerBackgroundBottom;

// Footer
// ======
$footerBackground: #333;
$footerTitle: #FFF;
$footerText: $footerTitle;
$footerLink: $footerText;

  // Footer Buttom
  //--------------
  $footerButtomBackground: $footerBackground;
  $footerButtomText: $footerText;