.section.search {
  padding-bottom: 80px;
  .p-search {
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    display: block;
    svg {
      position: absolute;
      z-index: 1;
      right: 14px;
      top: 13px;
    }
    > div {
      width: 100%;
      border: 0 solid transparent;
    }
    .p-search-input {
      margin: 0 auto;
      display: block;
      margin: 0 auto;
      > div {
        width: 100%;
        border: 0 solid transparent;
      }
        label {
          background-color: #FFF;
          border-radius: 10px;
        }
        input {
          width: 100%;
          border: 0 solid transparent;
          background-color: #FFF;
          border-radius: 30px;
          font-family: Poppins;
          text-align: left;
          padding-right: 50px;
          border: 1px solid #DDD;
        }
        fieldset {
          border: 0 solid transparent;
          border-radius: 14px;
        }
    }
    .search-result {
      padding-top: 37px;
    }
  }
}