.beforeload {
  background-image: url('/images/beforload.png');
  animation: beforeload 5s infinite;
}
@keyframes beforeload {
  0% {background-position-x: 0px;}
  50% {background-position-x: -150px;}
  100% {background-position-x: -300px;}
}