@import '../global-sass/colors';

$linkColor: #FFD02C;
$linkColorLight: #FFD02C;

$bodyBackground: #FFFAF3;

// Header
// ======
$headerBackgroundTop: #FFD02C;
$headerBackgroundBottom: #F99500;

$headerBackgroundMobileMenu: $headerBackgroundBottom;
$headerBackgroundBottomMobileMenu: $headerBackgroundTop;

// Footer
// ======
$footerBackground: #333;
$footerTitle: #FFF;
$footerText: $footerTitle;
$footerLink: $footerText;

  // Footer Buttom
  //--------------
  $footerButtomBackground: $footerBackground;
  $footerButtomText: $footerText;