.block.forget-pasword {
  max-width: 300px;
  margin: 85px auto 130px;
  form > div {
    width: 100%;
  }
  h1 {
    text-align: center;
    margin-bottom: 7px;
  }
  input {
    width: 100%;
  }
  .send {
    display: block;
    margin: 40px auto;
  }
}