.send {
  color: #ffffff !important;
  background-color: #7e681a !important;
  border-radius: 25px !important;
  font-size: 10px !important;
  font-weight: bold !important;
  padding: 10px 25px 10px 25px !important;
  margin: 30px auto !important;
  text-transform: none !important;
}