.p-register-page {
  margin: 100px auto 200px auto;
  text-align: center;
  font-family: Poppins;
  .icon {
    margin: 0 auto;
  }
  label {
    font-family: Poppins;
  }
  .MuiButtonBase-root {
    margin-top: 35px;
  }
}