.p-top {
  .p-top-banner {
    background-color: rgba(255,255,255,0.5);
    height: 166px;
    .p-top-banner-img {
      position: absolute !important;
      top: 150px;
      left: 50%;
      margin-left: -558px;
      z-index: 1;
    }
    @media (max-width: 1115px) {
      display: none;
    }
  }
  .p-top-banner-mobile {
    background-color: rgba(255,255,255,0.5);
    height: 301px;
    @media (min-width: 1115px) {
      display: none;
    }
    @media (max-width: 595px) {
      height: 268px;
    }
    .p-top-banner-img {
      position: absolute !important;
      top: 150px;
      left: 50%;
      margin-left: -297px;
      z-index: 1;
      max-width: 595px;
      @media (max-width: 595px) {
        width: 100% !important;
        left: 0;
        margin-left: 0;
        img {
          object-fit: contain !important;
        }
      }
    }
  }
}