.p-principal-top {
  background: url(images/Background.png);
  background-repeat: no-repeat;
  background-color: #eaeaea;
  padding: 50px 20px 150px;
  color: #555;
  h1 {
    color: #333;
  }
  .p-grid {
    max-width: 1000px;
    margin: 46px auto 0;
  }
}