@import "../../../../local-sass/colors.scss";

.secton-footer {
  background-color: $footerBackground;
  min-height: 200px;
  color: $footerText;
  > div {
    max-width: 1100px;
    margin: 0 auto;
  }
  h1, h2, h3, h4 {
    color: $footerTitle;
  }
  a {
    color: $footerLink;
  }
}