.structure-list .list {
  text-align: center;
  .item {
    display: inline-block;
    width: 246px;
    margin: 0 24px 41px;
    .beforeload {
      height: 120px;
    }
    .content {
      height: 140px;
      padding: 0 14px;
    }
      .container {
        overflow: hidden;
        height: 130px;
      }
        a {
          text-decoration: none;
        }
          h3 {
            font-weight: normal;
            margin: 4px;
            padding: 2px;
            color: #777777;
          }
        .paragraph {
          text-align: left;
          font-size: 13px;
          color: #BBBBBB;
          overflow: hidden;
        }
  }
}