
.section {
  &.profesional {
    display: table;
    width: 100%;
    min-height: 500px;
    .principal-sidebar {
      display: table-cell;
      background-color: #333;
      width: 100px;
      color: white;
    }
    .principal-content {
      display: table-cell;
      box-sizing: border-box;
    }
  }
  &.footer {
    min-height: 200px;
    background-color: black;
    color: white;
  }
}