.p-header-bottom {
  color: #AAA;
  font-family: Poppins;
  font-size: 13px;
  position: relative;
  margin-left: 10%;
  margin-right: 15px;

  a {
    display: inline-block;
    padding: 10px 10px;
  }
}